##### MAPS IN FUNCTIONS


#### The map() Function in Python
The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x

square(9)

81

In [2]:
numbers=[1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [4]:
## lambda functions with map
numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
## Map multiple iterable

numbers1=[1,2,3]
numbers2=[4,5,6]
added_num=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_num)

[5, 7, 9]

In [6]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']
int_numbers= list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [8]:
words=["apple","banana","strawberry"]
upperwords=list(map(str.upper,words))
print(upperwords)

['APPLE', 'BANANA', 'STRAWBERRY']

In [9]:
def get_name(person):
    return person['name']

people=[
    {'name':'Krish','age':32},
    {'name':'Jack','age':33}
]
list(map(get_name,people))

['Krish', 'Jack']