
##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [4]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [6]:
mixed_tuple=(1,"Anurag",3.14)
print(mixed_tuple)

(1, 'Anurag', 3.14)

In [7]:
## accesing tupples
numbers

(1, 2, 3, 4, 5)

In [11]:
print(numbers[1])
print(numbers[-1])

2
5

In [12]:
numbers[0:5]

(1, 2, 3, 4, 5)

In [13]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [14]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 'Anurag', 3.14)

In [15]:
mixed_tuple * 3

(1, 'Anurag', 3.14, 1, 'Anurag', 3.14, 1, 'Anurag', 3.14)

In [16]:
numbers *3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [17]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [18]:
numbers[1]="Krish"

TypeError: 'tuple' object does not support item assignment

In [19]:
numbers

(1, 2, 3, 4, 5)

In [20]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [21]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [22]:
## unpacking
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [23]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [28]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
print(lst)
lst[0][0:3]

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 'Hello', 3.14, 'c']]

[1, 2, 3]

In [29]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [30]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [31]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

#### Assignment

In [3]:
## 1
tupl=(1,2,3,4,5,6,7,8,9,10)
print(tupl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
## 2
print(tupl[1])
print(tupl[-1])
print(tupl[5])

2
10
6

In [13]:
print(tupl[:3])
print(tupl[-3:])
tupl[2:5]

(1, 2, 3)
(8, 9, 10)

(3, 4, 5)

In [20]:
## 4 
tu=((1,3,5),(2,4,6),(9,7,11))
print(tu)
print(tu[1][2])

((1, 3, 5), (2, 4, 6), (9, 7, 11))
6

In [22]:
## 5
tuple1=(1,2,3)
tuple2=(4,5,6)
new_tuple=tuple1+tuple2
print(new_tuple)

(1, 2, 3, 4, 5, 6)

In [24]:
##6
tuple_a=(5,2,3,4,5,6,2,1,1)
count_5=tuple_a.count(5)
index_5=tuple_a.index(5)
print(count_5)
print(index_5)

2
0

In [27]:
## 7 
p_tuple=("Anurag",3,"CSE")
a,b,c=p_tuple
print(a)
print(b)
print(c)

Anurag
3
CSE

In [37]:
## 8
lst=tuple([1,2,3,4,5,6])
lst

(1, 2, 3, 4, 5, 6)