In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df=pd.read_excel('Data Analytics Assignment.xlsx',engine='openpyxl')

In [29]:
print(df.head())

   Unnamed: 0        Unnamed: 1    Unnamed: 2  Unnamed: 3  Unnamed: 4  \
0         NaN               NaN           NaN         NaN         NaN
1         NaN        Total Data           NaN         NaN         NaN
2         NaN              Date  unique_idfas  unique_ips  unique_uas
3         NaN  11 Sep to 15 Sep       1191603     1189884          28
4         NaN               NaN           NaN         NaN         NaN

       Unnamed: 5         Unnamed: 6   Unnamed: 7            Unnamed: 8  \
0             NaN                NaN          NaN                   NaN
1             NaN                NaN          NaN                   NaN
2  total_requests  requests_per_idfa  impressions  impressions_per_idfa
3         1770702           1.485983            0                     0
4             NaN                NaN          NaN                   NaN

      Unnamed: 9    Unnamed: 10 Unnamed: 11
0            NaN            NaN         NaN
1            NaN            NaN         NaN
2  idfa_ip_ratio  idfa_ua_ratio         IVT
3       1.001445       42557.25    0.004276
4            NaN            NaN         NaN

In [30]:
df.dropna(how='all',inplace=True)

In [31]:
print(df.head())

   Unnamed: 0        Unnamed: 1    Unnamed: 2  Unnamed: 3  Unnamed: 4  \
1         NaN        Total Data           NaN         NaN         NaN
2         NaN              Date  unique_idfas  unique_ips  unique_uas
3         NaN  11 Sep to 15 Sep       1191603     1189884          28
6         NaN        Daily Data           NaN         NaN         NaN
7         NaN              Date  unique_idfas  unique_ips  unique_uas

       Unnamed: 5         Unnamed: 6   Unnamed: 7            Unnamed: 8  \
1             NaN                NaN          NaN                   NaN
2  total_requests  requests_per_idfa  impressions  impressions_per_idfa
3         1770702           1.485983            0                     0
6             NaN                NaN          NaN                   NaN
7  total_requests  requests_per_idfa  impressions  impressions_per_idfa

      Unnamed: 9    Unnamed: 10 Unnamed: 11
1            NaN            NaN         NaN
2  idfa_ip_ratio  idfa_ua_ratio         IVT
3       1.001445       42557.25    0.004276
6            NaN            NaN         NaN
7  idfa_ip_ratio  idfa_ua_ratio         IVT

In [32]:
df.reset_index(drop=True,inplace=True)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,Total Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Date,unique_idfas,unique_ips,unique_uas,total_requests,requests_per_idfa,impressions,impressions_per_idfa,idfa_ip_ratio,idfa_ua_ratio,IVT
2,NaN,11 Sep to 15 Sep,1191603,1189884,28,1770702,1.485983,0,0,1.001445,42557.25,0.004276
3,NaN,Daily Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Date,unique_idfas,unique_ips,unique_uas,total_requests,requests_per_idfa,impressions,impressions_per_idfa,idfa_ip_ratio,idfa_ua_ratio,IVT

In [33]:
df=df.dropna(axis=1,how='all')

In [34]:
df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Total Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,unique_idfas,unique_ips,unique_uas,total_requests,requests_per_idfa,impressions,impressions_per_idfa,idfa_ip_ratio,idfa_ua_ratio,IVT
2,11 Sep to 15 Sep,1191603,1189884,28,1770702,1.485983,0,0,1.001445,42557.25,0.004276
3,Daily Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Date,unique_idfas,unique_ips,unique_uas,total_requests,requests_per_idfa,impressions,impressions_per_idfa,idfa_ip_ratio,idfa_ua_ratio,IVT

In [35]:
print(df.columns.tolist())

['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11']

[]