Variables

In [1]:
a=100

In [ ]:
## Declaring And Assigning Variable

age=32
height=6.1
name= "Anurag"
is_student=True

## printing the variable

print("age:",age)
print("Hieght:",height)
print("Name:",name)

age: 32
Hieght: 6.1
Name: Anurag

In [ ]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="KRish"
last_name="Naik"

In [ ]:
# Invalid variable names
#2age=30
#first-name="Krish"
##@name="Krish"

In [ ]:
## case sensitivity
name="Krish"
Name="Naik"

In [ ]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

print(type(name))

In [ ]:
## Type Checking and Conversion

type(height)

In [5]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [7]:
print(type(int(age)))

<class 'int'>

In [ ]:
name="Krish"
int(name)

In [ ]:
height=5.11
type(height)

In [ ]:
float(int(height))

In [ ]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

In [8]:
## input

age=int(input("What is the age"))
print(age,type(age))

22 <class 'int'>

In [9]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 112.0
Difference: -22.0
Product: 3015.0
Quotient: 0.6716417910447762